# intellij-related files
.idea
**/*.iml
**/target

# mac-specifics
**/.DS_Store
**/._*

# integration tests produce module-level test folders that must be version controlled
**/.test

# the top-level examples folder is local only and not version controlled
.examples
